body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsl(0, 0%, 0%);
  font-size: 100%;
  font-family: "Wallpoet", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  width: 55%;
  color: hsl(0, 1%, 45%);
  font-size: 2rem;
  margin: 3rem 0;
}

#greeting,
#answer {
  align-self: left;
}

.inputName {
  width: 25rem;
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Wallpoet", cursive;
  padding: 0.5rem;
  color: hsl(0, 1%, 45%);
  outline-color: hsl(0, 1%, 45%);
  margin: 1.5rem 0;
  background-color: black;
  border: 1px solid hsl(0, 1%, 45%);
  border-radius: 0.5rem;
  display: none;
  caret-color: hsl(0, 1%, 45%);
}

#generate {
  width: 25rem;
  display: none;
  cursor: pointer;
  background-color: black;
  border-inline-color: none;
  outline: none;
  border: 1px solid hsl(0, 1%, 45%);
  border-radius: 0.5rem;
  color: hsl(0, 1%, 45%);
  font-family: "Wallpoet", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1.5rem 0;
  align-self: center;
}

#generate:hover {
  background-color: hsl(0, 1%, 45%);
  color: white;
  box-shadow: 0px 0px 15px white;
}
