body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsl(0, 0%, 0%);
  font-size: 100%;
  font-family: "Wallpoet", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  width: 55%;
  color: hsl(0, 1%, 45%);
  font-size: 2rem;
  margin: 3rem 0;
}

#greeting,
#answer {
  align-self: left;
}

.inputName {
  width: 25rem;
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Wallpoet", cursive;
  padding: 0.5rem;
  color: hsl(211, 15%, 33%);
  outline-color: hsl(211, 15%, 33%);
  margin: 1.5rem 0;
  background-color: black;
  border: 1px solid hsl(211, 15%, 33%);
  border-radius: 0.5rem;
  display: none;
  caret-color: hsl(211, 15%, 33%);
}

.genres {
  align-self: center;
  display: none;
  justify-content: center;
  flex-direction: column;
}

#genres {
  width: fit-content;
  text-align: center;
  background-color: black;
  border-inline-color: none;
  outline: none;
  border: 1px solid hsl(211, 15%, 33%);
  border-radius: 0.5rem;
  color: hsl(211, 15%, 33%);
  font-family: "Wallpoet", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  align-self: center;
}

#generate {
  width: 25rem;
  cursor: pointer;
  background-color: black;
  border-inline-color: none;
  outline: none;
  border: 1px solid hsl(211, 15%, 33%);
  border-radius: 0.5rem;
  color: hsl(211, 15%, 33%);
  font-family: "Wallpoet", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  align-self: center;
}

#generate:hover {
  background-color: hsl(211, 15%, 33%);
  color: white;
  box-shadow: 0px 0px 15px white;
}

.card {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 22rem;
  padding: 1rem;
  background-color: hsl(211, 15%, 33%);
  background-image: linear-gradient(
    315deg,
    hsl(211, 15%, 33%) 0%,
    hsl(212, 19%, 19%) 74%
  );
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.img {
  width: 16rem;
  height: 18rem;
  border-radius: 0.5rem;
}

.img img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 16rem;
  max-height: 4rem;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .inputName {
    width: 80%;
    font-size: 1rem;
  }

  #genres {
    font-size: 1rem;
  }

  #generate {
    width: 80%;
    font-size: 1rem;
  }
}
